a {
  text-decoration: none;
  color: none; }

.welcome-cta-box a:-webkit-any-link {
  color: #12A2FC; }

html {
  font-family: "Quicksand", sans-serif;
  color: #F0EFEF;
  font-weight: 300;
  background-color: #222222; }

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb; }

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb; }

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem; }

.hash-top-space {
  margin-top: 70px; }

.scroll-to-top {
  bottom: 35px;
  position: fixed;
  float: right;
  width: 60px;
  height: 60px;
  background: #12A2FC;
  text-align: center;
  right: 20px;
  z-index: 2;
  border-radius: 30px;
  opacity: 0; }

.header-section {
  animation-duration: 0.5s;
  height: 60px;
  background: #F0EFEF;
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 2px #ebebeb; }

.sticky-nav {
  opacity: 1; }

.top-op {
  opacity: 0.9; }

.header-section-ul {
  color: #12A2FC;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  list-style: none;
  display: inline-block; }

.header-section-ul li {
  float: left;
  margin-left: 30px; }

.header-section-ul li a {
  color: #12A2FC;
  font-weight: 400; }

.header-section-ul li a:link,
.header-section-ul li a:visited {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s; }

.header-section-ul li a:active,
.header-section-ul li a:hover {
  color: #222222;
  border-bottom: 2px solid #222222; }

.header-phone {
  float: right;
  color: #222222;
  padding-right: 75px;
  font-size: 1.3rem;
  margin: 0 auto;
  top: 0;
  display: inline-block;
  font-weight: 400;
  width: 150px; }

.navi-btn {
  display: none;
  margin-top: 10px;
  margin-left: 35px;
  cursor: pointer; }

.navi-btn i {
  color: #12A2FC;
  font-size: 250%; }

.nav-mobile-height {
  height: 275px !important;
  background: rgba(249, 249, 249, 0.85) !important;
  animation-duration: 1s; }

.welcome-section {
  height: 725px;
  border-bottom: 1px solid #12A2FC; }

.welcome-left {
  background-color: #222222;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0; }

.welcome-left-box {
  width: 450px;
  height: 675px;
  margin: 0 auto;
  margin-top: 5%;
  background-color: #222222; }

.main-heading-text {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  margin: 0 auto; }

.welcome-left-box-text p {
  margin-bottom: 35px; }

.welcome-body-section {
  margin: 0 auto;
  width: 70%;
  height: 50%;
  text-align: center;
  border-radius: 2px; }

.welcome-body-main-img {
  width: 100%; }

.welcome-body-main-img img {
  width: 100%; }

.welcome-cta-heading {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

.welcome-cta-heading p {
  font-size: 1.5rem;
  margin: 0 auto;
  padding-top: 35px;
  color: #12A2FC; }

.welcome-cta-box {
  width: 175px;
  height: 45px;
  text-align: center;
  margin: 0 auto;
  background-color: #F0EFEF;
  color: #12A2FC;
  line-height: 45px;
  margin-top: 10%;
  border-radius: 50px;
  border: 1px solid #12A2FC; }

.welcome-cta-text {
  text-align: center;
  margin: 0 auto;
  font-size: 1.1rem; }

.welcome-right {
  background-color: #222222;
  width: 50%;
  height: 757px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 1px solid #12A2FC; }

.welcome-right-top {
  background-color: #222222;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0; }

.welcome-right-bottom {
  background-color: #222222;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0; }

.welcome-box-1 {
  height: 99.7%;
  width: 50%;
  top: 0;
  left: 0;
  border-right: 1px solid #12A2FC;
  border-bottom: 1px solid #12A2FC; }

.welcome-box-2 {
  height: 99.7%;
  width: 50%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #12A2FC; }

.welcome-box-3 {
  height: 99.8%;
  width: 50%;
  top: 0;
  left: 0;
  border-right: 1px solid #12A2FC; }

.welcome-box-4 {
  height: 99.8%;
  width: 50%;
  top: 0;
  left: 0; }

.welcome-inside-box {
  width: 70%;
  height: 70%;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center; }

.welcome-inside-head {
  font-size: 2.2rem;
  color: white; }

.welcome-icons {
  width: 40%;
  padding-bottom: 20px;
  padding-top: 10px;
  color: #12A2FC; }

.welcome-inside-text {
  font-size: 1.5rem;
  color: white; }

.clearfix {
  content: "";
  clear: both;
  display: table; }

.about-section {
  width: 100%;
  height: 800px;
  margin-top: 95px;
  background: #222222; }

.about-section-content {
  margin-top: 75px; }

.about-title {
  opacity: 0; }

.about-section-highlights-section {
  width: 100%;
  margin-bottom: 100px;
  padding-top: 35px; }

.ash-icons-section {
  height: 350px;
  width: 90%;
  margin: 0 auto; }

.ash-i-1 {
  width: 25%;
  float: left; }

.ash-i-2 {
  width: 25%;
  float: left; }

#diamond-clearfix {
  display: none; }

.ash-diamond {
  height: 150px;
  width: 150px;
  transform: rotate(45deg);
  background: #F0EFEF;
  text-align: center;
  margin: 0 auto; }

.ash-d-icon {
  width: 60%;
  transform: rotate(315deg);
  padding-top: 27%;
  padding-left: 12.5%; }

.ash-d-icon img {
  width: 100%; }

.ash-d-text {
  width: 70%;
  margin: 0 auto;
  margin-top: 70px;
  text-align: center; }

.ash-dt-head {
  font-size: 1.5rem;
  font-weight: 400; }

.about-section-left {
  width: 50%;
  float: left;
  height: auto;
  opacity: 0; }

.as-left-heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 75px; }

.as-left-body {
  width: 400px;
  margin: 0 auto;
  text-align: center; }

.as-left-img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 25px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  overflow: hidden; }

.as-left-img img {
  width: 100%;
  height: 100%;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.about-section-right {
  width: 50%;
  float: right;
  height: auto;
  opacity: 0; }

.as-display {
  display: block; }

.as-skills-bar-section {
  width: 575px;
  margin: 0 auto;
  height: auto;
  padding-top: 25px; }

.skills-bar-bar {
  width: 520px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 5px; }

.skills-bb1-1 {
  display: inline-block;
  text-align: center;
  width: 21%;
  background: #12A2FC;
  height: 30px;
  border-radius: 5px 0px 0px 5px; }

.skills-bb1-1 p {
  margin: 0 auto;
  line-height: 30px; }

.skills-bb1-2 {
  display: inline-block;
  background: #0065A3;
  width: 0%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  animation-delay: 0.5s !important;
  animation-fill-mode: forwards !important; }

.skills-bb1-2:before {
  width: 0%;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0065A3;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

@keyframes fillup8 {
  0% {
    width: 0%; }
  100% {
    width: 61.5%;
    background: #0065A3; } }
.skills-bb1-2 p {
  margin: 0 auto;
  opacity: 0; }

.skills-bb1-3 {
  display: inline-block;
  background: #F0EFEF;
  width: 17.1%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  border-radius: 0px 5px 5px 0px;
  color: #222222; }

.skills-bb1-3 p {
  margin: 0 auto;
  text-align: right;
  padding-right: 10px; }

.skills-bb2-1 {
  display: inline-block;
  text-align: center;
  width: 21%;
  background: #12A2FC;
  height: 30px;
  border-radius: 5px 0px 0px 5px; }

.skills-bb2-1 p {
  margin: 0 auto;
  line-height: 30px; }

.skills-bb2-2 {
  display: inline-block;
  background: #0065A3;
  width: 0%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  animation-delay: 0.55s !important;
  animation-fill-mode: forwards !important; }

.skills-bb2-2:before {
  width: 0%;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

@keyframes fillup7 {
  0% {
    width: 0%; }
  100% {
    width: 53.8%;
    background: #0065A3; } }
.skills-bb2-2 p {
  margin: 0 auto;
  opacity: 0; }

.skills-bb2-3 {
  display: inline-block;
  background: #F0EFEF;
  width: 24.5%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  border-radius: 0px 5px 5px 0px; }

.skills-bb2-3 p {
  margin: 0 auto;
  text-align: right;
  padding-right: 10px;
  color: #222222; }

.skills-bb3-1 {
  display: inline-block;
  text-align: center;
  width: 21%;
  background: #12A2FC;
  height: 30px;
  border-radius: 5px 0px 0px 5px; }

.skills-bb3-1 p {
  margin: 0 auto;
  line-height: 30px; }

.skills-bb3-2 {
  display: inline-block;
  background: #0065A3;
  width: 0%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  animation-delay: 0.6s !important;
  animation-fill-mode: forwards !important; }

.skills-bb3-2:before {
  width: 0%;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

@keyframes fillup6 {
  0% {
    width: 0%; }
  100% {
    width: 46.1%;
    background: #0065A3; } }
.skills-bb3-2 p {
  margin: 0 auto;
  opacity: 0; }

.skills-bb3-3 {
  display: inline-block;
  background: #F0EFEF;
  width: 32%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  border-radius: 0px 5px 5px 0px; }

.skills-bb3-3 p {
  margin: 0 auto;
  text-align: right;
  padding-right: 10px;
  color: #222222; }

.skills-bb4-1 {
  display: inline-block;
  text-align: center;
  width: 21%;
  background: #12A2FC;
  height: 30px;
  border-radius: 5px 0px 0px 5px; }

.skills-bb4-1 p {
  margin: 0 auto;
  line-height: 30px; }

.skills-bb4-2 {
  display: inline-block;
  background: #0065A3;
  width: 0%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  animation-delay: 0.65s !important;
  animation-fill-mode: forwards !important; }

.skills-bb4-2:before {
  width: 0%;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

@keyframes fillup6 {
  0% {
    width: 0%; }
  100% {
    width: 46.1%;
    background: #0065A3; } }
.skills-bb4-2 p {
  margin: 0 auto;
  opacity: 0; }

.skills-bb4-3 {
  display: inline-block;
  background: #F0EFEF;
  width: 32%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  border-radius: 0px 5px 5px 0px; }

.skills-bb4-3 p {
  margin: 0 auto;
  text-align: right;
  padding-right: 10px;
  color: #222222; }

.skills-bb5-1 {
  display: inline-block;
  text-align: center;
  width: 21%;
  background: #12A2FC;
  height: 30px;
  border-radius: 5px 0px 0px 5px; }

.skills-bb5-1 p {
  margin: 0 auto;
  line-height: 30px; }

.skills-bb5-2 {
  display: inline-block;
  background: #0065A3;
  width: 0%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  animation-delay: 0.7s !important;
  animation-fill-mode: forwards !important; }

.skills-bb5-2:before {
  width: 0%;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

@keyframes fillup6 {
  0% {
    width: 0%; }
  100% {
    width: 46.1%;
    background: #0065A3; } }
.skills-bb5-2 p {
  margin: 0 auto;
  opacity: 0; }

.skills-bb5-3 {
  display: inline-block;
  background: #F0EFEF;
  width: 32%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  border-radius: 0px 5px 5px 0px; }

.skills-bb5-3 p {
  margin: 0 auto;
  text-align: right;
  padding-right: 10px;
  color: #222222; }

.skills-bb6-1 {
  display: inline-block;
  text-align: center;
  width: 21%;
  background: #12A2FC;
  height: 30px;
  border-radius: 5px 0px 0px 5px; }

.skills-bb6-1 p {
  margin: 0 auto;
  line-height: 30px; }

.skills-bb6-2 {
  display: inline-block;
  background: #0065A3;
  width: 0%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  animation-delay: 0.75s !important;
  animation-fill-mode: forwards !important; }

.skills-bb6-2:before {
  width: 0%;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

@keyframes fillup4 {
  0% {
    width: 0%; }
  100% {
    width: 30.7%;
    background: #0065A3; } }
.skills-bb6-2 p {
  margin: 0 auto;
  opacity: 0; }

.skills-bb6-3 {
  display: inline-block;
  background: #F0EFEF;
  width: 47%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  border-radius: 0px 5px 5px 0px; }

.skills-bb6-3 p {
  margin: 0 auto;
  text-align: right;
  padding-right: 10px;
  color: #222222; }

.skills-bb7-1 {
  display: inline-block;
  text-align: center;
  width: 21%;
  background: #12A2FC;
  height: 30px;
  border-radius: 5px 0px 0px 5px; }

.skills-bb7-1 p {
  margin: 0 auto;
  line-height: 30px; }

.skills-bb7-2 {
  display: inline-block;
  background: #0065A3;
  width: 0%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  animation-delay: 0.8s !important;
  animation-fill-mode: forwards !important; }

.skills-bb7-2:before {
  width: 0%;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

@keyframes fillup5 {
  0% {
    width: 0%; }
  100% {
    width: 38.4%;
    background: #0065A3; } }
.skills-bb7-2 p {
  margin: 0 auto;
  opacity: 0; }

.skills-bb7-3 {
  display: inline-block;
  background: #F0EFEF;
  width: 39.5%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  border-radius: 0px 5px 5px 0px; }

.skills-bb7-3 p {
  margin: 0 auto;
  text-align: right;
  padding-right: 10px;
  color: #222222; }

.skills-bb8-1 {
  display: inline-block;
  text-align: center;
  width: 21%;
  background: #12A2FC;
  height: 30px;
  border-radius: 5px 0px 0px 5px; }

.skills-bb8-1 p {
  margin: 0 auto;
  line-height: 30px; }

.skills-bb8-2 {
  display: inline-block;
  background: #0065A3;
  width: 0%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  animation-delay: 0.85s !important;
  animation-fill-mode: forwards !important; }

.skills-bb8-2:before {
  width: 0%;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

@keyframes fillup5 {
  0% {
    width: 0%; }
  100% {
    width: 38.4%;
    background: #0065A3; } }
.skills-bb8-2 p {
  margin: 0 auto;
  opacity: 0; }

.skills-bb8-3 {
  display: inline-block;
  background: #F0EFEF;
  width: 39.5%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  border-radius: 0px 5px 5px 0px; }

.skills-bb8-3 p {
  margin: 0 auto;
  text-align: right;
  padding-right: 10px;
  color: #222222; }

.skills-bb9-1 {
  display: inline-block;
  text-align: center;
  width: 21%;
  background: #12A2FC;
  height: 30px;
  border-radius: 5px 0px 0px 5px; }

.skills-bb9-1 p {
  margin: 0 auto;
  line-height: 30px; }

.skills-bb9-2 {
  display: inline-block;
  background: #0065A3;
  width: 0%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  animation-delay: 0.9s !important;
  animation-fill-mode: forwards !important; }

.skills-bb9-2:before {
  width: 0%;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

@keyframes fillup2 {
  0% {
    width: 0%; }
  100% {
    width: 53.8%;
    background: #0065A3; } }
.skills-bb9-2 p {
  margin: 0 auto;
  opacity: 0; }

.skills-bb9-3 {
  display: inline-block;
  background: #F0EFEF;
  width: 24.5%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  border-radius: 0px 5px 5px 0px; }

.skills-bb9-3 p {
  margin: 0 auto;
  text-align: right;
  padding-right: 10px;
  color: #222222; }

.skills-bb10-1 {
  display: inline-block;
  text-align: center;
  width: 21%;
  background: #12A2FC;
  height: 30px;
  border-radius: 5px 0px 0px 5px; }

.skills-bb10-1 p {
  margin: 0 auto;
  line-height: 30px; }

.skills-bb10-2 {
  display: inline-block;
  background: #0065A3;
  width: 0%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  animation-delay: 0.95s !important;
  animation-fill-mode: forwards !important; }

.skills-bb10-2:before {
  width: 0%;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

@keyframes fillup6 {
  0% {
    width: 0%; }
  100% {
    width: 46.1%;
    background: #0065A3; } }
.skills-bb10-2 p {
  margin: 0 auto;
  opacity: 0; }

.skills-bb10-3 {
  display: inline-block;
  background: #F0EFEF;
  width: 32%;
  height: 30px;
  margin-left: -4px;
  line-height: 30px;
  border-radius: 0px 5px 5px 0px; }

.skills-bb10-3 p {
  margin: 0 auto;
  text-align: right;
  padding-right: 10px;
  color: #222222; }

.skills-section {
  margin-top: 95px;
  background: #222222; }

.ps-title,
.os-title,
.ts-title {
  text-align: center;
  color: #12A2FC;
  font-size: 1.5rem; }

.ps-ul-l {
  width: 80%;
  margin: 0 auto; }

.ps-ul-l-ul {
  float: left;
  margin-block-start: 0em; }

.ps-ul-r-ul {
  float: right;
  margin-block-start: 0em; }

.os-ul {
  width: 40%;
  margin: 0 auto; }

.os-ul li,
.ps-ul-l-ul li,
.ps-ul-r-ul li {
  padding-top: 7px; }

.portfolio-section {
  margin-top: 75px; }

.portfolio-cell-section {
  width: 1100px;
  margin: 0 auto;
  margin-top: 50px; }

.portfolio-cell-row {
  width: 100%;
  height: 50%;
  background: blue; }

.portfolio-cell-1 {
  width: 33.39%;
  object-fit: contain;
  height: 350px;
  text-align: center;
  float: left; }

.portfolio-cell-2 {
  display: inline-block;
  width: 33.3%;
  height: 350px;
  text-align: center;
  float: right; }

.portfolio-cell-wrapper {
  height: 100%;
  width: 100%; }

#pc1-bg-img:before {
  background: url("img/p1_t.jpg");
  background-size: cover;
  object-fit: contain; }

#pc2-bg-img:before {
  background: url("img/p2_t.jpg");
  background-size: cover;
  object-fit: contain; }

#pc3-bg-img:before {
  background: url("img/p3_t.png");
  background-size: cover;
  object-fit: contain; }

#pc4-bg-img:before {
  background: url("img/p4_t.png");
  background-size: cover;
  object-fit: contain; }

#pc5-bg-img:before {
  background: url("img/p5_t.png");
  background-size: cover;
  object-fit: contain; }

#pc6-bg-img:before {
  background: url("img/p6_t.png");
  background-size: cover;
  object-fit: contain; }

.portfolio-cell-wrapper:hover .pc-title p {
  opacity: 1; }

.portfolio-cell-wrapper:hover .pc-description p {
  opacity: 1; }

.portfolio-cell-wrapper:hover .pc-lm-box {
  opacity: 1; }

.pc-title p {
  margin: 0 auto;
  padding-top: 75px;
  font-size: 1.5rem;
  color: #12A2FC;
  width: 90%;
  margin: 0 auto;
  opacity: 0;
  transition: 0.5s ease; }

.pc-description p {
  width: 90%;
  margin: 0 auto;
  padding-top: 25px;
  color: #222222;
  opacity: 0;
  transition: 0.5s ease; }

.pc-learn-more {
  margin-top: 50px; }

.pc-lm-box {
  width: 150px;
  height: 40px;
  border-radius: 50px;
  background: #12A2FC;
  margin: 0 auto;
  line-height: 40px;
  opacity: 0;
  transition: 0.5s ease; }

#portfolio-popup {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  z-index: 1;
  animation-duration: 1s;
  top: 25px; }

.hidden {
  display: none; }

.popup-no-display {
  display: none; }

.popup-yes-display {
  position: fixed;
  display: block; }

.popup-colored-container {
  width: 1000px;
  height: 525px;
  margin: 0 auto; }

.popup-img-container {
  width: 100%;
  height: 55%; }

.popup-img-container img {
  width: 100%;
  height: 100%; }

.popup-img-bar {
  width: 100%;
  height: 5px;
  background: #F0EFEF;
  right: 0;
  left: 0; }

.popup-info-container {
  height: 45%;
  width: 100%;
  background: #F0EFEF; }

.popup-ic-left {
  width: 75%;
  height: 100%;
  float: left; }

.popup-left-content {
  padding-left: 50px; }

.popup-left-heading {
  max-width: 50%;
  color: #12A2FC; }

.popup-left-heading p {
  margin: 0 auto;
  padding-top: 15px;
  font-size: 1.5rem; }

.popup-left-body {
  max-width: 90%;
  color: #222222; }

.popup-left-heading-body p {
  margin: 0 auto;
  padding-top: 15px;
  font-size: 1.1rem; }

.popup-left-bar {
  width: 90%;
  height: 1px;
  margin-top: 10px;
  background: grey; }

.popup-left-cta-btn {
  width: 125px;
  height: 35px;
  border-radius: 50px;
  background: #12A2FC;
  text-align: center;
  margin-top: 10px; }

.popup-left-cta-btn p {
  margin: 0 auto;
  line-height: 35px; }

.popup-ic-right {
  width: 25%;
  height: 100%;
  float: right; }

.popup-right-image {
  width: 100%;
  height: 70%;
  text-align: center;
  opacity: 0; }

.popup-right-image img {
  width: 50%;
  max-height: 80%;
  margin: 0 auto;
  margin-top: 25px; }

.popup-right-title {
  text-align: center;
  max-width: 90%;
  margin: 0 auto; }

.popup-right-title p {
  font-size: 1.5rem; }

.popup-transparent-container {
  height: 65px;
  width: 100%;
  background: #12A2FC;
  opacity: 0.8; }

.popup-close-img {
  width: 35px;
  height: 35px;
  padding-top: 15px;
  margin-left: 25px;
  opacity: 1; }

.popup-close-img img {
  width: 100%;
  height: 100%; }

.blog-section {
  margin-top: 95px; }

.blog-cell-section {
  width: 1100px;
  margin: 0 auto;
  margin-top: 75px; }

.blog-cell-1 {
  width: 33.3%;
  height: 350px;
  float: left; }

.blog-cell-2 {
  width: 33.3%;
  height: 350px;
  float: right; }

.blog-cell-container {
  width: 275px;
  height: 0px;
  margin: 0 auto;
  border: 2px solid #12A2FC;
  border-radius: 10px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  animation-fill-mode: forwards !important; }

.blog-cell-container:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

@keyframes fillupBlog {
  0% {
    height: 0px; }
  100% {
    height: 335px; } }
.bc-img {
  width: 250px;
  margin: 0 auto; }

.bc-img-img {
  width: 250px;
  height: 0px;
  padding-top: 15px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  animation-fill-mode: forwards !important; }

.bc-img-img:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

@keyframes fillupBlogImg {
  0% {
    height: 0px; }
  100% {
    height: 165px; } }
.bc-heading {
  width: 85%;
  padding-left: 15px; }

.bc-date {
  padding-left: 15px;
  color: #12A2FC; }

.bc-cta {
  border: 1px solid #12A2FC;
  margin-left: 15px;
  text-align: center;
  width: 125px;
  height: 30px;
  background: #F0EFEF;
  border-radius: 30px;
  color: #12A2FC;
  line-height: 30px; }

.bc-cta p {
  margin: 0 auto;
  cursor: default; }

.contact-section {
  margin-top: 75px;
  height: 875px; }

.contact-left {
  width: 50%;
  float: left; }

.contact-left-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 60px;
  color: #12A2FC; }

.cl-cell-img img {
  width: 90px; }

.cl-cells {
  width: 250px;
  margin: 0 auto; }

.cl-cell {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px; }

.cl-cell1 {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  margin-top: 45px; }

.cl-cell-desc {
  font-size: 1.1rem;
  padding-top: 10px; }

.cl-cell-bar {
  width: 200px;
  height: 1px;
  margin: 0 auto;
  margin-top: 20px;
  margin-top: -25px; }

.css--h-3:hover .hvr-underline-from-right:before {
  left: 0; }

.css--h-1:hover .hvr-underline-from-center:before {
  left: 0;
  right: 0; }

.css--h-2:hover .hvr-underline-from-left:before {
  right: 0; }

.contact-right {
  float: right;
  width: 50%; }

.contact-form-head {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 400;
  color: #12A2FC;
  margin-top: 60px; }

.contact-form-box {
  width: 90%;
  margin: 0 auto;
  float: none; }

.contact-form-section {
  width: 400px;
  height: 480px;
  margin: 0 auto;
  margin-top: 25px; }

.contact-name,
.contact-email,
.contact-subject {
  width: 400px;
  background: #222222;
  padding-top: 10px; }

.contact-name input,
.contact-email input,
.contact-subject input {
  background: #222222;
  border: 1px solid #12A2FC;
  height: 40px;
  width: 375px;
  padding-left: 10px; }

.contact-message {
  width: 400px;
  padding-top: 10px; }

.contact-message textarea {
  background: #222222;
  border: 1px solid #12A2FC;
  height: 200px;
  width: 375px;
  padding-left: 10px;
  padding-top: 10px; }

.contact-right-body {
  width: 60%;
  font-size: 1.5rem;
  margin: 0 auto;
  margin-top: 100px; }

.contact-submit-btn input {
  width: 175px;
  height: 45px;
  margin: 0 auto;
  border: 1px solid #12A2FC;
  background: #F0EFEF;
  color: #12A2FC;
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 35px;
  line-height: 40px;
  border-radius: 30px; }

.footer {
  width: 100%;
  height: 225px;
  background: #333333; }

.footer-social-icons {
  width: 600px;
  height: 100px;
  margin: 0 auto;
  padding-top: 60px; }

.fs-1 {
  width: 25%;
  float: left; }

.fs-1-img {
  width: 70px;
  height: 70px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #F0EFEF;
  margin: 0 auto;
  text-align: center; }

.fs-2 {
  width: 25%;
  float: right; }

.fs-2-img {
  width: 70px;
  height: 70px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #F0EFEF;
  margin: 0 auto;
  text-align: center; }

.footer-bottom-text {
  width: 300px;
  margin: 0 auto;
  color: #12A2FC;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 15px; }

.footer-bottom-text p {
  margin: 0 auto; }

.footer-icon {
  width: 40px;
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  padding-top: 12.5px;
  padding-right: 12.5px; }

.footer-icon2 {
  width: 40px;
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  padding-top: 17.5px;
  padding-right: 17.5px; }

.js--wp-1 {
  opacity: 0;
  animation-duration: 0.5s !important; }

.js--wp-2 {
  animation-duration: 0.7s !important;
  animation-delay: 0.5s; }

.js--wp-3 {
  opacity: 0;
  animation-delay: 1.2s; }

.js--wp-5 {
  animation-duration: 0.4s !important; }

.js--wp-13 {
  animation-duration: 0.7s !important; }

.js--wp-skills-1 {
  opacity: 0; }

.js--wp-skills-2 {
  animation-delay: 0.2s;
  opacity: 0; }

.js--wp-skills-3 {
  animation-delay: 0.4s;
  opacity: 0; }

.js--wp-15 {
  opacity: 0; }

.js--wp-16 {
  opacity: 0; }

.js--wp-17 {
  animation-delay: 0.2s;
  opacity: 0; }

.js--wp-18 {
  animation-delay: 0.1s;
  opacity: 0; }

@keyframes bounceInUp {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    animation-fill-mode: forwards !important; } }
.js--wp-19 {
  opacity: 0; }

.js--wp-21 {
  opacity: 0;
  animation-delay: 0.7s; }

.js--wp-22 {
  opacity: 0;
  animation-delay: 0.8s; }

.js--wp-23 {
  opacity: 0;
  animation-delay: 0.9s; }

.delayed-cell-1 {
  animation-delay: 0.14s !important; }

.delayed-cell-2 {
  animation-delay: 0.27s !important; }

.opacity-add {
  opacity: 1; }

.download-bg {
  height: 100vh;
  width: 100vw;
  background: #222222; }

.download-bar {
  padding-top: 15%;
  height: 300px;
  width: 800px;
  text-align: center;
  margin: 0 auto; }

.download-text {
  text-align: center;
  margin: 0 auto;
  width: 700px;
  font-size: 1.85rem;
  padding-bottom: 15px; }

.download-box {
  background: #12A2FC;
  color: #F0EFEF;
  width: 200px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  margin: 0 auto;
  font-size: 1.1rem;
  font-weight: 400;
  border-radius: 10px; }

.free-main-section {
  width: 100%;
  height: 800px;
  background: blue; }

.free-section-left {
  width: 50%;
  height: 700px;
  background: red;
  display: inline-block;
  float: left; }

.fsl-main-heading {
  font-size: 2.5rem;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-top: 35px; }

.fsl-main-heading p {
  margin: 0 auto; }

.fsl-f-img img {
  width: 25px; }

.free-section-right {
  display: inline-block;
  float: right;
  background: green;
  width: 50%;
  height: 700px; }

.fsl-sub-head {
  font-size: 1.5rem;
  padding-left: 50px;
  font-style: italic; }

.fsl-main {
  width: 95%;
  margin: 0 auto;
  background: teal;
  height: 700px; }

.fsl-features-section {
  width: 90%;
  background: yellow;
  height: 500px;
  margin-left: 25px; }

.fsl-feature {
  width: 99%;
  height: 100px;
  background: purple; }

.fsl-f-img {
  display: inline-block;
  width: 7%;
  vertical-align: top; }

.fsl-f-text {
  display: inline-block;
  width: 80%; }

.blog-container {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 25px; }

.blog-main-title {
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  width: 90%;
  padding-left: 25px;
  padding-top: 100px;
  color: #12A2FC; }

.blog-main-intro-text {
  width: 80%;
  font-size: 1rem !important;
  padding-left: 25px;
  line-height: 125%; }

.blog-main-point {
  width: 75%;
  padding-left: 25px;
  padding-top: 45px; }

.blog-point-title {
  font-size: 1.5rem;
  color: #12A2FC;
  line-height: 150%; }

.blog-point-desc {
  line-height: 150%; }

.blog-point-img img {
  width: 200px; }

/*# sourceMappingURL=styles.css.map */
